<!-- templates/description.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Description of the Project</h1>
<p>The purpose of this project was to become more familiar with Python FastAPI for web development.</p>
<p>More info below</p>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Resources
  <span></span></button>
  <ul class="dropdown-menu">
      <li><a href="https://github.com/Jeromeschmidt/Tweet-gen-fastAPI">Github</a></li>
      <li><a href="https://fastapi.tiangolo.com/">FastAPI</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Markov_chain#:~:text=A%20Markov%20chain%20is%20a,attained%20in%20the%20previous%20event.&text=It%20is%20named%20after%20the%20Russian%20mathematician%20Andrey%20Markov.">Markov Chains</a></li>
  </ul>
</div>
{% endblock %}
